<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Local Shouty</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb742487000924268</string>
				<string>com.googleusercontent.apps.859541725168-49gfec5mcb0v33g80is4n4f7orlbt08t</string>
				<string>com.alexapp</string>
			</array>
			<key>FirebaseDynamicLinksCustomDomains</key>
			<array>
				<string>https://alexsocial.page.link</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.859541725168-49gfec5mcb0v33g80is4n4f7orlbt08t</string>
			</array>
		</dict>
	</array>
	
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>742487000924268</string>
	<key>FacebookClientToken</key>
	<string>c030ebaf1ddfd3de9769c226576b16dd</string>
	<key>FacebookDisplayName</key>
	<string>Alex Application</string>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>tel</string>
		<string>https</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Local Shouty requires access to your camera so you can capture and upload photos or videos for your profile and posts.</string>
	<key>NSContactsUsageDescription</key>
	<string>Local Shouty uses your contacts to help you find and connect with friends who are already using the app, making it easier to grow your network.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Local Shouty uses your location even when the app is not open to keep your feed updated with nearby posts, friends, and events.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Local Shouty needs access to your location in the background to continue updating your feed with nearby posts, friends, and events.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Local Shouty uses your location while you are using the app to provide a personalized feed of nearby posts, friends, and events.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Local Shouty requires access to your microphone so you can record audio when creating and sharing videos with your friends.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Local Shouty requires access to your photo and video library so you can upload media for posts and update your profile.</string>
	<key>NSUserNotificationAlertUsageDescription</key>
	<string>Local Shouty sends you notifications to keep you updated when friends interact with your posts or when new features are available.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Thin.ttf</string>
		 <string>AntDesign.ttf</string>
  <string>Entypo.ttf</string>
  <string>EvilIcons.ttf</string>
  <string>Feather.ttf</string>
  <string>FontAwesome.ttf</string>
  <string>FontAwesome5_Brands.ttf</string>
  <string>FontAwesome5_Regular.ttf</string>
  <string>FontAwesome5_Solid.ttf</string>
  <string>FontAwesome6_Brands.ttf</string>
  <string>FontAwesome6_Regular.ttf</string>
  <string>FontAwesome6_Solid.ttf</string>
  <string>Foundation.ttf</string>
  <string>Ionicons.ttf</string>
  <string>MaterialIcons.ttf</string>
  <string>MaterialCommunityIcons.ttf</string>
  <string>SimpleLineIcons.ttf</string>
  <string>Octicons.ttf</string>
  <string>Zocial.ttf</string>
  <string>Fontisto.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
